<!-- <div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper 'text-white', 'li' %>
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>
    </div>
  </div>
</div> --> 

<!-- <div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">JOhn Wick</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div> -->

 <div class="portfolio-masthead">
  <div class="container">
    <nav class="nav blog-nav">

       <h3 style= "color: #f19916" ><%= current_user.name %></h3>
          <%= nav_helper 'nav-link', 'span' %>
          <%= login_helper 'nav-link' %>
    <div style="margin-top: 8px ; ">
       <%= link_to "New Portfolio" , new_portfolio_url %>
   </div>
    </nav>
  </div>
</div> 