<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DevcampPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'hello coffee' %>

  </head>

  <body>
      <div class="site-wrapper">
      <div class="site-wrapper-inner">
      <div class="cover-container">

       <div id = "background"></div> 

      <%= render "shared/application_nav"%>
          

    <%= yield %>
    <%# http://localhost:3000/portfolio/9?q=twitter %>

      <%= render "shared/application_footer"%>

    <%= source_helper ("application")%>
  </div>
  </div>
  </div>
</body>
</html>
